{
    "plugins": [
        [
            "module-resolver",
            {
                "baseUrl": ".",
                "alias": {
                    "@": "./src",
                    "~": "./src"
                }
            }
        ]
    ],
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
            "@babel/env",
            {
                "targets": { "browsers": ["last 2 versions", "ie >= 11"] }
            }
        ]
    ]
}
